<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mazilor</title>
    <meta name="description" content="">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Mazilor">
    <meta property="og:description" content="">
    <meta property="og:image" content="images/share.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Mazilor">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="images/share.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <link rel="manifest" href="images/favicon/site.webmanifest">
    <link rel="mask-icon" href="images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <title><%= htmlWebpackPlugin.options.title %></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
        Please enable it to continue.</strong>
</noscript>
<div id="app"></div>
<!-- built files will be auto injected -->
</body>

<script type="text/javascript">
    jQuery(document).ready(function ($) {





    $(window).scroll(function () {
      $('.hidden-object').each(function (i) {
        var bottom_of_object = $(this).offset().top + $(this).outerHeight() / 3;
        var bottom_of_window = $(window).scrollTop() + $(window).height();

        if (bottom_of_window > bottom_of_object) {
          $(this).animate({
            opacity: '1',
          }, 400);
        }
      });
    });

    setTimeout(function () {
      $('.page-header').animate({
        opacity: '1',
      }, 300);
    }, 200);
    setTimeout(function () {
      $('.home-page-hero').addClass('visible');
      $('.page-content').animate({
        opacity: '1',
      }, 400);
    }, 700);
    if (window.matchMedia('(max-width:991px)').matches) {
      $(".alt-image").css('background-image', function () {
        var bg = ('url(' + $(this).data("image-src") + ')');
        return bg;
      });

    };



    $('a.page-scroll').click(function () {
      if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
        if (target.length) {
          $('html,body').animate({
            scrollTop: target.offset().top - 40
          }, 900);
          return false;
        }
      }
    });

  });
</script>

</html>
