/**
|--------------------------------------------------------------------------
| Vue Component : index
|--------------------------------------------------------------------------
|
| Usage : This Component used for
| Created By rahul on (8 Dec 2022 at 12:35 PM)
|
*/
<template>
  <main class="main">

  </main>
</template>

<script>
import {mapActions} from "vuex";
import {Message} from "element-ui";
import {resentVerificationMail} from "@/api/auth";

export default {
  name: "index",
  data() {
    return {
      loading: false,

    }
  },
  created() {
    this.$store.dispatch('setPage', 'page-not-found');
  },
  methods: {
    resentEmailVerification(){
      resentVerificationMail()
          .then(response => {
            if (response.status) {
              Message({
                message: response.data,
                type: 'success',
                duration: 5 * 1000,
              });

            } else {
              Message({
                message: response.message,
                type: 'error',
                duration: 5 * 1000,
              });

            }
          });
    }

  }
}
</script>

<style scoped>

</style>
