/**
|--------------------------------------------------------------------------
| Vue Component : index
|--------------------------------------------------------------------------
|
| Usage : This Component used for
| Created By rahul on (8 Dec 2022 at 12:35 PM)
|
*/
<template>
  <main class="main">
    <div class="error-page-wrap">
      <div class="container">
        <h1>Oops, looks like something is out of <span>E-zamani </span></h1>
        <p>Sorry, but the page you are looking for has moved or no longer exists.<br>
          Please use the menu above to locate the missing page.</p>
        <a class="button" href="/">Go Back To Home</a>

      </div>
    </div>
  </main>
</template>

<script>
import {mapActions} from "vuex";
import {Message} from "element-ui";

export default {
  name: "index",
  data() {
    return {
      loading: false,

    }
  },
  created() {
    this.$store.dispatch('setPage', 'page-not-found');
  },
  methods: {


  }
}
</script>

<style scoped>

</style>
