<template>
  <div class="vld-parent">
    <loading :active="isLoading"
             :can-cancel="false"
            :color="'#5AAAD3'"
            :loader= "'dots'"
            :width = "64"
            :height = '64'
            :backgroundColor = "'#ffffff'"
            :opacity = '0.5'
            :zIndex = '999'
             :is-full-page="fullPage"/>
  </div>
</template>

<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';

export default {
  name:"Loader",
  components: {
    Loading
  },
  data() {
    return {
    }
  },
  props: {
    isLoading: {
      type: Boolean,
      default: true
    },
    fullPage: {
      type: Boolean,
      default: true
    },
  },



}
</script>