/**
|--------------------------------------------------------------------------
| Vue Component : Footer
|--------------------------------------------------------------------------
|
| Usage : This Component used for
| Created By rahul on (24 Feb 2022 at 12:16 PM)
|
*/
<template>

  <footer class="page-footer">

  </footer>
</template>

<script>
export default {
  name: "FooterView",
  computed : {
    isAuthenticated : function(){ return this.$store.getters.isAuthenticated},
    userName : function(){ return this.$store.getters.StateUser.name},
  },
}
</script>

<style scoped>

</style>
