/**
|--------------------------------------------------------------------------
| Vue Component : Header
|--------------------------------------------------------------------------
|
| Usage : This Component used for
| Created By rahul on (24 Feb 2022 at 12:15 PM)
|
*/
<template>
<div class="container-fluid row">
  <div class="col-md-12">
    <nav class="navbar navbar-expand-lg navbar-white bg-white">
      <button type="button" id="sidebarCollapse" class="btn btn-light">
        <i class="fas fa-bars"></i><span></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav ms-auto">
          <li class="nav-item">
            <a href="" class="dropdown-item" @click="logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>

</template>


<script>
import {mapActions} from "vuex";
import {Message} from "element-ui";
import {profile} from "@/api/auth";

export default {
  name: "HeaderView",
  data() {
    return {
      clicked:'',
      active:'',
    }
  },
  computed : {
    isAuthenticated : function(){ return this.$store.getters.isAuthenticated},
    userName : function(){ return this.$store.getters.StateUser.name},
  },

  methods:{
    ...mapActions(["LogOut"]),
    async logout() {
      let isAuthenticated = this.isAuthenticated
      await this.$store.dispatch('LogOut');
      if(isAuthenticated){
        this.$router.push('/home').catch(() => { /* ignore */ })

      }
    },
  }
}
</script>
<style scoped>

</style>
