/**
|--------------------------------------------------------------------------
| Vue Component : index
|--------------------------------------------------------------------------
|
| Usage : This Component used for
| Created By rahul on (8 Dec 2022 at 12:35 PM)
|
*/
<template>
  <div class="active">
    <div class="content">
      <div class="container">
        <div class="page-title">
          <h3>Products</h3>
        </div>
        <div class="row">
          <div class="card">
            <div class="card-header" >List of all products
              <router-link to ="/upload-products" class="btn btn-primary">Upload Products</router-link>
            </div>
            <div class="card-body">
              <p class="card-title"></p>
              <table class="table table-hover" id="dataTables-example" width="100%">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Price</th>
                  <th>SKU</th>
                  <th width="35%">Description</th>
                </tr>
                </thead>
                <tbody>
                <template v-if="products.length > 0">
                  <tr v-for="product in products">
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td>${{product.price}}</td>
                    <td>{{product.sku}}</td>
                    <td>{{product.description}}</td>
                  </tr>
                </template>
                <tr v-else >
                  <td colspan="5" class="text-center">No Products Found</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>

import {fetcProducts} from "@/api/products";


export default {
  name: "index",
  components: {},
  data() {
    return {
      products: '',
    }
  },
  created() {
    this.$store.dispatch('setPage', 'lp-page');
    this.loadProducts();
  },
  methods: {

    async loadProducts() {
      await fetcProducts({}).then(response => {
        this.products = response.data;
      }).catch(error => {
        console.log(error);
      });
    },


  }
}
</script>

<style scoped>

</style>
