/**
|--------------------------------------------------------------------------
| Vue Component : index
|--------------------------------------------------------------------------
|
| Usage : This Component used for
| Created By rahul on (8 Dec 2022 at 12:35 PM)
|
*/
<template>
  <div class="active">
    <div class="content">
      <div class="container">
        <div class="page-title">
          <h3>Upload Products</h3>
        </div>
        <div class="row">
          <div class="card">
            <loader :full-page="true" :is-loading="loading"></loader>
            <div class="card-header" >Upload Products
            </div>
            <div class="card-body">
              <p class="card-title">Download sample csv : <a target="_blank" href="https://drive.google.com/file/d/1QToQYxzZTeyooK2hRQnG2AFjZXQ_g1dt/view?usp=sharing">Click Here</a></p>
              <form action="">
                <div class="row">
                  <div class="col-md-8">
                    <input class="form-control form-control-lg" id="formFileLg" type="file" accept="text/csv"  @change="uploadFile" ref="file">
                  </div>
                  <div class="col-md-4">
                    <button class="btn btn-primary btn-lg" @click="submitFile()">Upload</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>

import {fetcProducts,uploadProducts} from "@/api/products";
import loader from "@/views/Loader";

export default {
  name: "index",
  components: {loader},
  data() {
    return {
      products: '',
      loading:false
    }
  },
  created() {
    this.$store.dispatch('setPage', 'lp-page');
  },
  methods: {
    uploadFile() {
      this.Images = this.$refs.file.files[0];
    },
    async submitFile() {
      this.loading =true;
      const formData = new FormData();
      formData.append('file', this.Images);
      const headers = { 'Content-Type': 'multipart/form-data' };
      await uploadProducts(formData,headers).then(response => {
        if(response.status ){
          this.$router.push('/home').catch(() => { /* ignore */ })
        }
        this.loading = false
      }).catch(error => {
        console.log(error);
        this.loading = false
      });
    }


  }
}
</script>

<style scoped>

</style>
