/**
|--------------------------------------------------------------------------
| Vue Component : index
|--------------------------------------------------------------------------
|
| Usage : This Component used for
| Created By rahul on (8 Dec 2022 at 12:35 PM)
|
*/
<template>
  <div class="auth-content">
    <div class="card">
      <div class="card-body text-center ">
        <div class="mb-4">
          <img class="brand" src="../../assets/logo.png" alt="bootstraper logo">
        </div>
        <h6 class="mb-4 text-muted">Login to your account</h6>
        <form action="" method="">
          <div class="mb-3 text-start">
            <label for="email" class="form-label">Email adress</label>
            <input type="email"  v-model="form.email" class="form-control" placeholder="Enter Email" required>
          </div>
          <div class="mb-3 text-start">
            <label for="password" class="form-label">Password</label>
            <input type="password"  v-model="form.password" class="form-control" placeholder="Password" required>
          </div>

          <button class="btn btn-primary shadow-2 mb-4" @click="submitLogin()">Login</button>
        </form>
        <p class="mb-0 text-muted">Don't have account yet?
          <router-link to ="/register">Signup</router-link>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import {mapActions} from "vuex";
import loader from "@/views/Loader";
import {Message} from "element-ui";

export default {
  name: "index",
  components: {loader},
  data() {
    return {
      loading: false,
      form: {
        email: '',
        password: '',
      }
    }
  },
  created() {
    console.log("lastpath:" + this.$store.getters.lastPath);
    if (this.$store.getters.isAuthenticated) {
      this.$router.push('/home');
    }
    this.$store.dispatch('setPage', '');
  },
  methods: {
    ...mapActions(["LogIn"]),
    async submitLogin() {
      this.loading = true;
      await this.$store.dispatch('LogIn', this.form)
          .then(response => {
            this.loading = false;
            this.$router.push({path: (this.$route.query.redirect ? this.$route.query.redirect : '/home')});
          }, error => {
            this.loading = false;
            if (error) {
              Message({
                message: error,
                type: 'error',
                duration: 5 * 1000,
              });
            }
            this.form = {
              email: '',
              password: '',
            };
          }).catch(function () {
            this.loading = false;
          })
    }
  }
}
</script>

<style scoped>

</style>
