/**
|--------------------------------------------------------------------------
| Vue Component : index
|--------------------------------------------------------------------------
|
| Usage : This Component used for
| Created By rahul on (8 Dec 2022 at 12:35 PM)
|
*/
<template>
  <div class="auth-content">
    <div class="card">
      <div class="card-body text-center">
        <div class="mb-4">
          <img class="brand" src="../../assets/logo.png" alt="bootstraper logo">
        </div>
        <h6 class="mb-4 text-muted">Create new account</h6>
        <form action="" method="">
          <div class="mb-3 text-start">
            <label for="name" class="form-label">Name</label>
            <input type="text" v-model="form.name" class="form-control" placeholder="Enter Name" required>
          </div>
          <div class="mb-3 text-start">
            <label for="email" class="form-label">Email adress</label>
            <input type="email"  v-model="form.email"  class="form-control" placeholder="Enter Email" required>
          </div>
          <div class="mb-3 text-start">
            <label for="password" class="form-label">Password</label>
            <input type="password" v-model="form.password" class="form-control" placeholder="Password" required>
          </div>
          <div class="mb-3 text-start">
            <label for="password" class="form-label">Confirm Password</label>
            <input type="password" v-model="form.password_confirmation"  class="form-control" placeholder="Password" required>
          </div>

          <button class="btn btn-primary shadow-2 mb-4" @click="submitRegister()">Register</button>
        </form>
        <p class="mb-0 text-muted">Allready have an account?
          <router-link to ="/login">Log in</router-link></p>
      </div>
    </div>
  </div>
</template>

<script>
import {mapActions} from "vuex";
import {Message} from "element-ui";
import loader from "@/views/Loader";

export default {
  name: "index",
  components: {loader},
  data() {
    return {
      loading: false,
      form: {
        name: '',
        email: '',
        password: '',
        password_confirmation: '',
      }
    }
  },
  created() {
    if (this.$store.getters.isAuthenticated) {
      this.$router.push('/home');
    }
    this.$store.dispatch('setPage', '');
  },
  methods: {
    ...mapActions(["Register"]),
    async submitRegister() {
      this.loading = true;
      await this.$store.dispatch('Register', this.form).then(response => {
        this.loading = false;
        this.$router.push({path: (this.$route.query.redirect ? this.$route.query.redirect : '/home')});
      }, error => {
        this.loading = false;
        if (error) {
          Message({
            message: error,
            type: 'error',
            duration: 5 * 1000,
          });
        }

      })

    }
  }
}
</script>

<style scoped>
.form-group {
  width: auto;
  background: #F5F5F5;
  border: 1px solid #EFEFEF;
}
.form-group .border-end{
  font-size: 14px;
  background: #F5F5F5;
  border: 1px solid #EFEFEF;
  height: 40px;
}

.form-group input {
  display: inline-block;
  width: auto;
  border: none;
}

.form-group input:focus {
  box-shadow: none;
}

</style>
